body {
    font-family: sans-serif;
    margin: 0;
}

.contact {
    width: 80%;
    border: 1px solid #ddd;
    margin: 20px auto;
    padding: 5%;
    text-align: center;
}

.contact h2 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;
}

.contact p {
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.child-form label {
    display: block;
    margin-bottom: 5px;
}

.child-form input,
.child-form select,
.child-form textarea {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px 3%;
    width: 94%;
    font-family: sans-serif;
    cursor: pointer;
}

.child-form select {
    width: 100%;
}

.child-form input[type='button'] {
    width: 200px;
    background: blueviolet;
    border: 1px solid blueviolet;
    color: #ddd;
}

.child-form input[type='button']:hover {
    width: 200px;
    background: black;
    border: 1px solid black;
    color: #ddd;
}

.child-form {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;

}

.child-form:last-child {
    margin-bottom: 0;

}